@model FirstApplication.Models.Game

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<ul>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontatl">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genres)
        </dt>

        <!--<dd>
            @Html.DisplayFor(model => model.Name)
        </dd>-->

        <dd>
            <ul>
                @foreach (var gamegenre in Model.Genres)
                {

                    <li>@gamegenre.Genre.Name</li>
                }
                
            </ul>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsMultiplayer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsMultiplayer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ratings)
        </dt>
        <dd id="RatingsControl">
            @{ Html.RenderAction("RatingsControl", "Ratings", new { gameId = Model.GameId });}
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GameId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function SetRatingControlCallbacks() {
            var rank = $("#RatingsControl a[name='Rank']");
            rank.on('click', SetRating);
        }

        function SetRating(e) {
            var data = { gameId: $(this).data("gameid"), rank: $(this).data("rank") };
            $.post("@Url.Action("SetRating","Ratings")", data)
                .done(function (response, status, jqxhr) {
                    var url = "@Url.Action("RatingsControl","Ratings")";
                    $("#RatingsControl").load(url, { gameId: data.gameId }, function (responseText, statusText, xhr) {
                        switch (statusText) {
                            case "success":
                                SetRatingControlCallbacks();
                                break;
                            default:
                                break;
                        }
                        if (responseText.length == 0) {

                        }
                    });
                })
                .fail(function (jqxhr, status, error) { });
        }

        $(document).ready(SetRatingControlCallbacks);
    </script>
}